body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}
.main-content {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}
.inner-page .main-content {
  background-color: #fefefe;
}

/* Main header on all pages */
.main-header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.main-navigation-logo {
  margin: 0 auto;
  margin-top: -57px;
  margin-bottom: -23px;
  order: 2;
}
.main-navigation {
  padding: 0 73px;
}
.main-navigation ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-navigation li {
  width: 240px;
  padding: 15px 0;
}
.main-navigation li:nth-child(2) {
  margin-right: auto;
}
.main-navigation li:nth-last-child(2),
.main-navigation li:last-child {
  text-align: right;
}
.main-navigation a {
  color: #000000;
}
.main-navigation a:hover {
  color: #81b3d2;
}
.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
.main-navigation .current-page {
  color: #766357;
}

/* Intro on the main page */
.intro {
  height: 508px;
  text-align: center;
  background:
    url("../img/intro-polygon.svg"),
    url("../img/intro-bg.jpg");
  background-position:
    center bottom,
    center top;
  background-repeat:
    no-repeat,
    no-repeat;
    margin-bottom: 60px;
}

/* Advantages on the main page */
.advantages {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.advantages h3 {
  font-size: 21px;
  line-height: 21px;
}
.advantages-title {
  margin-bottom: 55px;
}
.advantages-description {
  font-size: 21px;
  line-height: 26px;
}
.advantages-intro {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}
.advantage-wide {
  display: flex;
  background-color: #81b3d2;
  color: #ffffff;
}
.advantage-text {
  padding-top: 45px;
  padding-bottom: 60px;
  width: 33.333333%;
}
.advantage-image {
  width: 66.666666%;
}
.advantage-text p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.features {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 85px;
  background-color: #ffffff;
}
.feature {
  width: 400px;
  padding-top: 55px;
}
.features p,
.advantages-list p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #eeeeee;
}
.advantage {
  width: 400px;
  padding-top: 45px;
  padding-bottom: 60px;
}

/* Search on the main page */
.main-search {
  background-color: #ffffff;
  text-align: center;
  padding-top: 55px;
}
.main-search b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.search-description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.search-block {
  position: relative;
  width: 568px;
  margin: 0 auto;
}
.search-button {
  display: block;
  width: 100%;
  padding: 30px 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}
.search-button:hover {
  background-color: #604e43;
}
.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  padding: 55px;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.search-popup input {
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}
.search-popup input:hover {
  background-color: #ebebeb;
  border-color: #ebebeb;
}
.search-popup input:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
}
.search-popup button[type="button"] {
  border: none;
  background-color: transparent;
  color: #a9a9a9;
}
.search-popup button[type="button"]:hover {
  color: #000000;
}
.search-popup button[type="button"]:active {
  color: #81b3d2;
}
.search-popup button[type="submit"] {
  background-color: #81b3d2;
  border: none;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
.search-popup button[type="submit"]:hover {
  background-color: #669ec0;
}
.search-popup button[type="submit"]:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.form-half-column {
  display: flex;
}
.half-column {
  width: 50%;
}

/* Main footer on all pages */
.main-footer {
  display: flex;
  align-items: center;
  padding: 36px 0;
  background-color: rgba(254, 254, 254, 0.9);
}
.footer-hashtag,
.footer-social,
.footer-copyright {
  width: 33.333333%;
  text-align: center;
  margin: 0;
}
.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
}
.footer-social ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Ниже неправильно стилизовал соц.кнопки, кликабельна стала сама иконка, исправлю на этапе декоративных элементов */
.footer-social li {
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: #81b3d2;
}
.footer-social li:last-child {
  margin-right: 0;
}
.footer-social li:hover {
  background-color: #669ec0;
}
.footer-social li:active {
  background-color: #5496bd;
}
.social-btn:active {
  opacity: 0.3;
}
.footer-copyright img {
  vertical-align: middle;
}

/* style on the catalog page */
.catalog-form {
  background-color: #404c52; /* цвет для того, если не прогрузилась картинка */
  background-image: url("../img/catalog-header-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.catalog-filter {
  display: flex;
  justify-content: space-between;
  padding: 30px 70px;
}
.catalog-filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.catalog-filter fieldset:nth-child(2) {
  margin-right: auto;
}
.catalog-filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog-filter li,
.catalog-filter label {
  font-weight: 400;
}
.catalog-filter input[type="text"] {
  background-color: transparent;
  border: none;
  color: inherit;
}
.catalog-filter button[type="submit"] {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 21px;
}
.catalog-filter button[type="submit"]:hover {
  background-color: #ffffff;
  color: #000000;
}

.catalog-result-sorting {
  display: flex;
  justify-content: space-between;
  padding: 30px 70px;
  font-size: 21px;
  line-height: 26px;
}
.catalog-result-sorting span,
.catalog-result-sorting a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
.catalog-result-sorting span {
  color: #000000;
}
.catalog-result-sorting ul {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.sorting-type a {
  border-bottom: 1px dotted #81b3d2;
  color: rgba(0, 0, 0, 0.3);
}
.sorting-type a:hover {
  color: #81b3d2;
}
.sorting-type a:active {
  color: #000000;
  border: none;
}
.sorting-type .current-sorting {
  color: #81b3d2;
  border: none;
}
.sorting-arrow {
  margin-left: auto;
}
.sorting-arrow a {
  /* Сами стрелки как я понял надо делать будет позже) */
  border: 5px solid #cacaca;
}
.sorting-arrow a:hover {
  border-color: #000000;
}
.sorting-arrow a:active,
.sorting-arrow .current-sorting {
  border-color: #81b3d2;
}

.catalog-result-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog-result-item {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e5e5e5;
  padding: 30px 70px;
}
.catalog-result-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}
.catalog-item-description {
  margin-right: auto;
}
.catalog-item-description p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}
.catalog-item-title a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.catalog-item-title a:hover {
  color: #81b3d2;
}
.catalog-item-title a:active {
  color: rgba(0, 0, 0, 0.3);
}
.link-more,
.link-booking {
  font-weight: 14px;
  line-height: 21px;
  color: #ffffff;
}
.link-more {
  background-color: #81b3d2;
}
.link-more:hover {
  background-color: #669ec0;
}
.link-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.link-booking {
  background-color: #766357;
}
.link-booking:hover {
  background-color: #604e43;
}
.link-booking:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-item-rating p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  background-color: #f2f2f2;
}
